.about{
    width: 100%;
    height: 92vh;
}

.about-h1,.about-h3{
    padding: 10px 10px 0px;
    text-align: center;
    color: black;
}

.about hr{
    width: 100%;
}

.about-content{
    justify-content: center;
    height: 100%;
}


.info-p{
    float: right;
    padding: 40px;
    font-size: 20px;
    color: rgb(58, 58, 58);
}

.main-about{
    display: flex;
}

.logo-about{
    display: flex;
    
    align-self: center;
    height: auto;
}

@media screen and (max-width: 1500px){

    .main-about{
        display: block;
    }

    .logo-about{
        justify-content: center;
    }

    .logo-in{
        width: 300px;
        
    }

    
}

@media screen and (max-width:1200px) {

    .about{
        height: auto;
        overflow: scroll;
    }
    .about::-webkit-scrollbar{
        display: none;
    }
}